.Service {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.Service h2 {
  font-size: 2.5rem;
}

.Service a {
  font-size: 1.5rem;
}

.Service--actions {
  margin-top: 2rem;
}

.Service--change-key {
  margin-top: 3rem;
}

.Service--warning-message {
  color: #CA2329;
}

.Service--form-field {
  width: 50%;
  margin: auto;
}

.Service--info-action {
  padding: 1rem;
}
