.InputKey {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.InputKey h2 {
  font-size: 2.5rem;
}

.InputKey a {
  font-size: 1.5rem;
}

.InputKey--actions {
  margin-top: 2rem;
}

.InputKey--change-key {
  margin-top: 3rem;
}

.InputKey--warning-message {
  color: #CA2329;
}

.InputKey--form-field {
  width: 50%;
  margin: auto;
}

.InputKey--info-action {
  padding: 1rem;
}
