.Divider {
  margin: 50px 50px;
}

.wrapper {
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card {
  width: 24rem;
}

.title {
  margin-bottom: 1rem;
  font-family: 'citrixsans-semibold', sans-serif;
  font-size: 32px;
  white-space: nowrap;
  color: black;
}

.description {
  font-family: 'citrixsans-regular', sans-serif;
  margin-bottom: 0.5rem;
  letter-spacing: 0.7px;
  color: black;
}

.choice {
  border: 1px black solid;
  padding: 1rem;
}

.choice:hover {
  border: 1px #bbb solid;
  background: #bbb;
}
