.Home {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.Home h2 {
  font-size: 2.5rem;
}

.Home a {
  font-size: 1.5rem;
}

.Home--actions {
  margin-top: 2rem;
}

.Home--change-key {
  margin-top: 3rem;
}

.Home--warning-message {
  color: #CA2329;
}

.Home--form-field {
  width: 50%;
  margin: auto;
}

.Home--info-action {
  padding: 1rem;
}
