.container {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.container h2 {
  font-size: 2.5rem;
}

.container a {
  font-size: 1.5rem;
}

.installer {
  font-size: 2rem;
  border: 2px solid #28B78D;
  padding: 0.5rem 1rem;
}

.actions {
  margin-top: 2rem;
}
