.DebugConfig {
  text-align: left;
  border: 1px solid gray;
  color: #243743;
  padding: 0.5rem 1rem;
  height: 375px;
}

.DebugConfig--key {
  color: black;
  font-weight: bold;
  word-wrap: break-word;
}

.DebugConfig--list {
  list-style-type: none;
  word-wrap: break-word;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
