.Installer {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
}

.Installer--content {
  margin: 2rem;
}

.Installer h2 {
  font-size: 2.5rem;
}

.Installer a {
  font-size: 1.5rem;
}

.Installer--split {
  display: -webkit-flex;
}

.Installer--split:first-child {
  margin-top: 20px;
}

.Installer--split-item {
  -webkit-flex: 1 0 0px;
  background-color: #eee;
  padding: 20px;
  overflow: hidden;
}

.Installer-split-small {
}

.Installer--button {
  font-size: 1.3em !important;
  width: 200px;
  margin: 0 auto;
}

.Installer--button i {
  font-size: 1em;
}

.Installer--done {
  font-size: 2rem;
  border: 2px solid #28B78D;
  padding: 0.5rem 1rem;
  width: 35%;
  margin: 0 auto;
}

.Installer--actions {
  margin-top: 2rem;
}

.ProgressBar {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ProgressBar-completed {
  background: #28B78D !important;
}
